
<html>
  <head>
    <title>Comedians</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <h1 id="h1">Comedian Info</h1>
      <nav>
        <div id="stat_1">
          Average Comedian Age: <%= @comedians.average(:age).round %> years old
          </div>
          <% @sum = 0 %>
          <% @comedians.each do |comedian| %>
          <% comedian.specials.sum do |special| %>
          <% @sum += special.runtime_mins %>
          <% @sum %>
          <% end %>
          <% end %>
          <% @num = 0 %>
          <% @comedians.each do |comedian| %>
          <% @num += comedian.specials.count %>
          <% end %>
          <% if @num == 0 %>
          <% @average = 0 %>
          <% else %>
          <% @average = @sum / @num %>
          <% end %>
          <div id="stat_2">
          Average TV Special Run Length: <%= @average %> mins
          </div>
          <div id="stat_3">
           Birth Cities:
            <% @comedians.each do |comedian| %>
               <%= comedian.birthplace %>
          <% end %>
          </div>
          <div id="stat_4">
            Special Count:
            <% @comedians.each do |comedian| %>
               <%= comedian.name %>:
              <%= comedian.specials.count %>
              <% end %>
          </div>
      </nav>
    </header>
    <main>
      <div id="info">
    <% @comedians.each do |comedian| %>
      <li id="name"><%= comedian.name %></li>
      <li id="age">Age: <%= comedian.age %></li>
      <li id="birthplace">Birthplace: <%= comedian.birthplace %></li>
       <img src=<%= comedian.image_url %>></img>
    </div>
    <div id="s_info">
      <li id="special">Special Count: <%= comedian.specials.count %></li>
      <li>Specials: <% comedian.specials.each do |special| %> </li>
      <li id="s_name"> <%= special.name %></li>
      <li id="s_run"> Length: <%= special.runtime_mins %></li>
      <img src=<%= special.image_url %></img>
      <% end %>
    <% end %>
    </div>
    </main>
      <section>
        <article></article>
        <article></article>
        <article></article>
      </section>

      <footer></footer>
  </body>
</hmtl>
