<header class='statistics'>
  <h1>Statistics</h1>
  <h3>Average Runtime: <%= Special.average_run_time %></h3>
  <h3>Average Age: <%= Comedian.average_age %></h3>
  <section>
    <h3>Unique Cities:</h3>
    <% Comedian.unique_cities.each do |city| %>
    <p><%= city %></p>
    <% end %>
  </section>

  <form action="/comedians/select" method='get'>
    <input type="number" min='0' max='116.5'
           placeholder="Input preferred comedian age"
           name="text[age]">
    <br>
    <input type="submit" name="Submit">
  </form>
</header>

<nav class="side-nav">
  <% @comedians.each do |comedian| %>
    <a href="#<%= comedian.name %>"><%= comedian.name %></a>
  <% end %>
</nav>

<section class='main'>
  <% @comedians.each do |comedian| %>
    <article class="comedian-profile" id="<%= comedian.name %>">
      <section class="comedian-details">
        <h3><%= comedian.name %></h3>
        <p>Age: <%= comedian.age %></p>
        <p>City: <%= comedian.city %></p>
      </section>

      <% comedian.specials.each do |special| %>
      <section class="tv-special">
        <h3><%= special.title %></h3>
        <img src= "<%= special.thumbnail %>" alt="tv_special cover">
        <p>Runtime: <%= special.run_time %></p>
      </section>
      <% end %>
    </article>
  <% end %>
</section>
