<ul id="comedian-list">
  <% @comedians.each do |comedian| %>
  <li><%= comedian.name %></li>
  <ul class="comedian-attributes" id="<%= comedian.name_as_kebab%>">
    <li> <%= comedian.age %><% if comedian.deceased %> - Deceased<% end %></li>
    <li> <%= comedian.born %></li>
  </ul>
  <ul class="comedian-specials" id="<%= comedian.name_as_kebab%>-specials">
    <% comedian.specials.each do |special| %>
    <img src="<%= special.image_url %>" alt="<%= comedian.name_as_kebab %>-<%= special.name_as_kebab %>-picture">
    <li> <%= special.name %> - <%= special.length %> minutes</li>
    <% end %>
  </ul>
  <% end %>
</ul>
