<h1>All Comedians</h1>

<section id="comedians">
  <% @comedians.each do |comedian| %>

    <h3><%= comedian.name %></h3>
      <p>Age: <%= comedian.age %></p>
      <p>City: <%= comedian.city %></p>
      <p>Specials: <% comedian.specials.each do |special|%>
        <ul>
          <li>Name: <%= special.name %> </li>
          <li>Length: <%= special.length %> </li>
          <li><img src= <%= special.image %>> </li>
        </ul>
        <% end %></p>
    <% end %>
</section>
