<div id="statistics">
  <h1>Statistics</h1>
  <p>Average Age: <%= @age %></p>
  <p>Average Length of Specials: <%= @length %></p>
  <p>Total Specials: <%= @special_count %></p>
  <p>Unique Birthplaces: </p><% @cities.each do |city| %>
  <p><%= city %></p>
  <% end %>
</div>
<form class="querys" action="" method="GET">
  <select id="age-query" name="age">
    <% (1..99).to_a.each do |age| %>
    <option value="<%= age %>"><%= age %></option>
    <% end %>
  </select>
  <input type="submit" value="Submit">
</form>


<ul id="comedian-list">
  <% @comedians.each do |comedian| %>
  <li><%= comedian.name %></li>
  <ul class="comedian-attributes" id="<%= comedian.name_as_kebab%>">
    <li> <%= comedian.age %><% if comedian.deceased %> - Deceased<% end %></li>
    <li> <%= comedian.born %></li>
    <li> <%= comedian.specials.count%></li>
  </ul>
  <ul class="comedian-specials" id="<%= comedian.name_as_kebab%>-specials">
    <% comedian.specials.each do |special| %>
    <img src="<%= special.image_url %>" alt="<%= comedian.name_as_kebab %>-<%= special.name_as_kebab %>-picture">
    <li> <%= special.name %> - <%= special.length %> minutes</li>
    <% end %>
  </ul>
  <% end %>
</ul>
