<h1> Comedians </h1>
<div id="statistics">
  <h2> Statistics </h2>
  <ul>
    <li>Average TV Special Run Time: <%= @specials.average_run_time.to_i %></li>
    <li>Average Age of Comedians: <%= @comedians.average_age.to_i %></li>
    <li>Cities: <%= @comedians.list_unique_cities.join(", ") %></li>
  </ul>
</div>


<% @comedians.each do |comic| %>
<div id="comic-<%=comic.id%>">
  <h2><%= comic.name %></h2>
    <p>Age: <%= comic.age%>,
      City: <%= comic.city%></p>
  <h3>Specials</h3>
    <ul id="comic-<%=comic.id%>-specials">
      <% comic.specials.each do |special| %>
      <li>Name: <%= special.name %>,
        Length: <%= special.length %> min
        <img src=<%= special.image_url %>></li>
        <% end %>
    </ul>
</div>
<% end %>
