<header class='statistics'>
  <h1>Statistics</h1>
  <h3>Average Runtime: <%= Special.average_run_time(params[:age]).round() %></h3>
  <h3>Average Age: <%= @comedians.average_age(@comedians).round() %></h3>
  <h3>TV Specials: <%= Special.special_count(params[:age]) %></h3>

  <section>
    <h3>Unique Cities:</h3>
    <% @comedians.unique_cities.each do |city| %>
    <p><%= city %></p>
    <% end %>
  </section>

  <section class='input-forms'>
    <form id='age-input' action="/comedians" method='get'>
      <input type="number" min='0' max='116.5'
             placeholder="Age"
             name="age">
      <br>
      <input id='age-submit' type="submit">
    </form>

    <form action="/comedians/new" method="get">
      <input type="submit" value="Add Comedian"></input>
    </form>
  </section>
</header>

<nav class="side-nav">
  <a href="/comedians">Home</a>
  <% @comedians.each do |comedian| %>
    <a href="#<%= comedian.name.downcase.gsub(' ', '-') %>"><%= comedian.name %></a>
  <% end %>
</nav>

<section class='main'>
  <% if Special.special_count(params[:age]) == 0%>
  <h1><%='No Comedians are that age!'%></h1>
  <% end %>

  <% @comedians.each do |comedian| %>
    <article class="comedian-profile" id="<%= comedian.name.downcase.gsub(' ', '-') %>">
      <section class="comedian-details">
        <h3><%= comedian.name %></h3>
        <p>Age: <%= comedian.age %></p>
        <p>City: <%= comedian.city %></p>
        <img src= "<%= comedian.image %>" alt="actor headshot">
      </section>

      <!-- <section class="tv-special">
      <% comedian.specials.each do |special| %>
        <h3><%= special.title %></h3>
        <img src= "<%= special.thumbnail %>" alt="tv_special cover">
        <p>Runtime: <%= special.run_time %></p>
      <% end %>

      </section> -->

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <p class='num-of-specials'>Number of Specials: <%= comedian.specials.count %></p>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <% (comedian.specials.count - 1).times do |specials| %>
            <li data-target="#carouselExampleIndicators" data-slide-to='<%= specials + 1 %>'></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% if comedian.specials.first %>
          <div class="carousel-item active">
              <img src="<%= comedian.specials.first.thumbnail %>" class="d-block w-100" alt="tv special thumbnail">
              <div class="carousel-caption d-none d-md-block">
                <h5><%= comedian.specials.first.title %></h5>
                <p>Runtime: <%= comedian.specials.first.run_time %></p>
              </div>
          </div>
          <% end %>
          <% if comedian.specials.second %>
            <% (comedian.specials.count - 1).times do |special| %>
              <div class="carousel-item">
                <img src="<%= comedian.specials[(special + 1)].thumbnail %>" class="d-block w-100" alt="tv special thumbnail">
                <div class="carousel-caption d-none d-md-block">
                  <h5><%= comedian.specials[(special + 1)].title %></h5>
                  <p>Runtime: <%= comedian.specials[(special + 1)].run_time %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </article>
  <% end %>
</section>
