<h1> Laugh Tracks </h1>

<section class="stats">
  <h2>Statistics</h2>
  <ul>
    <li>Average Age: <%= @comedians.average_age.to_i %> years old</li>
    <li>Total No. of TV Specials: <%= @specials.count %></li>
    <li>Average Length: <%= @specials.average_length.to_i %> mins</li>
    <li>Cities: <%= @comedians.unique_cities.join(", ") %></li>
</section>

<% @comedians.each do |comedian| %>
  <img class="headshot" src="<%= comedian.head_shot %>" alt="<%= comedian.head_shot %>" width="200">
  <ul>
    <li>Name: <%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>City: <%= comedian.city %></li>
    <li>TV Specials: <%= comedian.specials.count%>
  </ul>
  <section class="specials">
      <% comedian.specials.each do |special| %>
        <img class="special_thumbnail" src="<%= special.image_url %>" alt="<%= special.title %>" width="200">
        <ul>
          <li><%= special.title %></li>
          <li>Length: <%= special.length %> mins</li>
        </ul>
      <% end %>
  </section>
<% end %>