<div id="statistics">
<p>Average age: <%= Comedian.average_age %></p>
<p>Average runtime: <%= Special.average_runtime %> minutes </p>
</div>
<% @comedians.each do |comedian| %>
  <div id="comedian_<%=comedian.id%>">
    <ul>
      <li><%= comedian.name %></li>
      <li><%= comedian.age %></li>
      <li><%= comedian.city %></li>
      <div id="comedian_<%=comedian.id%>_specials"
        <% comedian.specials.each do |special| %>
          <li><%= special.title  %><li>
          <li><%= special.run_time %> minutes<li>
          <img src="<%= special.image_url %>" alt=" <%= special.title %>" height="150" width="100">
        <% end %>
      </div>
    </ul>
  </div>
<% end %>
