<h1> Comedians </h1>
<div id="statistics">
  <h2> Statistics </h2>
  </div>
<% @comedians.each do |comic| %>
<div id="comic-<%=comic.id%>">
  <h2><%= comic.name %></h2>
  <p>Age: <%= comic.age%>,
  City: <%= comic.city%></p>
  <h3>Specials</h3>
    <ul id="comic-<%=comic.id%>-specials">
      <% comic.specials.each do |special| %>
      <li>Name: <%= special.name %>,
        Length: <%= special.length %> min
        <img src=<%= special.image_url %>></li>
        <% end %>
      </ul>
  </div>
<% end %>
