<h1> Laugh Tracks </h1>

<section class="stats">
  <ul>
    <li>Average age:<%= @comedians.average_age%></li>
  </ul>
</section>

<% @comedians.each do |comedian| %>
  <img class="headshot" src="<%= comedian.head_shot %>" alt="<%= comedian.head_shot %>" width="200">
  <ul>
    <li>Name: <%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>City: <%= comedian.city %></li>
  </ul>
  <section class="specials">
      <% comedian.specials.each do |special| %>
        <img class="special_thumbnail" src="<%= special.image_url %>" alt="<%= special.title %>" width="200">
        <ul>
          <li><%= special.title %></li>
          <li>Length: <%= special.length %> mins</li>
        </ul>
      <% end %>
  </section>
<% end %>