<header>
  <h1>Statistics</h1>
</header>

<nav class="side-nav">
  <% @comedians.each do |comedian| %>
    <a href="#<%= comedian.name %>"><%= comedian.name %></a>
  <% end %>
</nav>

<section class='main'>
  <% @comedians.each do |comedian| %>
  <article id="<%= comedian.name %>">
    <h3><%= comedian.name %></h3>
    <ul>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
    </ul>
  </article>
  <% end %>
</section>
