<% @comedians.each do |comedian| %>
  <ul>
    <li><%= comedian.name %></li>
    <li><%= comedian.age %></li>
    <li><%= comedian.city %></li>
    <% comedian.specials.each do |special| %>
      <ul>
        <li><%= special.name %></li>
        <li><%= special.run_time %></li>
      </ul>
    <% end %>
  </ul>
<% end %>
