
  <div class="container">
    <div class="row">
    <!-- <div class="col-lg-12"> -->
    <div class = "jumbotron">
      <div class="container">


        <h1 class = "display-2 text-center" id = "page_title"> Comedians </h1>
        <hr class="my-4">
        <h1><small class = "text-muted">Statistics</small></h1>
        <p> The average age of the comedians is <%= @comedians.average_age %> </p>
        <p> The average run time of all the specials is <%= @specials.average_length %> minutes</p>
        <p> The comedians come from the following cities: <%= @comedians.unique_cities.join(", ") %>.</p>
        <h4>TV Specials per comedian</h4>

        <% @comedians.each do |comedian| %>
        <ul>

          <li> <b> <%= comedian.name %>: </b> <%= comedian.specials.count %></li>
        </ul>
        <% end %>
        </div>
    </div>
    </div>
    </div>

 <div class="album py-5 bg-light">


  <div class = "container">
<% if @comedians.length % 3 == 0 %>
    <%@comedians.each_slice(3) do |comedians|  %>
      <div class = "row card-columns">
        <div class ="col-md-4 ">
          <div class="card bg-dark text-white" style="width: 18rem;" id = "comedian-<%= comedians.first.id%>" >
            <h5> <%= comedians.first.name %> </h5>
            <img src="<%= comedians.first.image_source %>"  class="card-img-top " alt="<%= comedians.first.name %>">
            <b>Age:</b> <%= comedians.first.age %> <br>
            <b>City:</b> <%= comedians.first.city %> <br>
            <form method="post" action="/comedians/<%= comedians.first.id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
            </form>
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#seeSpecials" aria-expanded="false" aria-controls="seeSpecials">
              See specials
            </button>

          </div>
          <div class="collapse" id="seeSpecials">
            <div class="card card-body">
              <div class="card-body">
                <b>Stand-up Specials: <%= comedians.first.specials.count %></b>

                  <% comedians.first.specials.each do |special| %>
                  <p>
                    <li> <%= special.name %></li>
                    <img src="<%= special.image_source %>" height="60" width="60"> <br>
                    <b>Special run time:</b> <%= special.run_time %> minutes
                  </p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class ="col-md-4 ">
          <div class="card bg-dark text-white" style="width: 18rem;" id = "comedian-<%= comedians[1].id%>" >
            <h5> <%= comedians[1].name %> </h5>
            <img src="<%= comedians[1].image_source %>" class="card-img-top" alt="<%= comedians[1].name %>">
            <b>Age:</b> <%= comedians[1].age %> <br>
            <b>City:</b> <%= comedians[1].city %> <br>
            <form method="post" action="/comedians/<%= comedians[1].id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
            </form>
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#seeSpecials" aria-expanded="false" aria-controls="seeSpecials">
              See specials
            </button>


          </div>
          <div class="collapse" id="seeSpecials">
            <div class="card card-body">
              <div class="card-body">
                <b>Stand-up Specials:  <%= comedians[1].specials.count %></b>

                  <% comedians[1].specials.each do |special| %>
                  <p>
                    <li> <%= special.name %></li>
                    <img src="<%= special.image_source %>" height="60" width="60"> <br>
                    <b>Special run time:</b> <%= special.run_time %> minutes
                  </p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class ="col-md-4">
          <div class="card bg-dark text-white" style="width: 18rem;" id = "comedian-<%= comedians[2].id%>" >
            <h5> <%= comedians[2].name %> </h5>
            <img src="<%= comedians[2].image_source %>" class="card-img-top " alt="<%= comedians[2].name %>">
            <b>Age:</b> <%= comedians[2].age %> <br>
            <b>City:</b> <%= comedians[2].city %> <br>
            <form method="post" action="/comedians/<%= comedians[2].id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="delete">
            </form>
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#seeSpecials" aria-expanded="false" aria-controls="seeSpecials">
              See specials
            </button>



          </div>
          <div class="collapse" id="seeSpecials">
            <div class = "card card-body">
              <div class = "card-body">
                <b> Stand-up Specials:  <%= comedians[2].specials.count %></b>

                  <%comedians[2].specials.each do |special| %>
                  <p>
                    <li>  <%= special.name %></li>
                    <img src= "<%= special.image_source %>" height="60" width="60"> <br>
                    <b>Special run time:</b> <%= special.run_time %> minutes
                  </p>
                  <% end %>
              </div>

            </div>

          </div>

        </div>


      </div>
      <% end  %>
      </div>


      <% else  %>
      <%@comedians.each do |comedian|  %>
    <div class = "row">
      <div class ="col-md-2 col-md-offset-5 col-center border bg-light">
    <div class="card" style="width: 18rem;">
      <h5> <%= comedian.name %> </h5>
      <img src="<%= comedian.image_source %>" class="card-img-top" alt="<%= comedian.name %>">
      <b>Age:</b> <%= comedian.age %> <br>
      <b>City:</b> <%= comedian.city %> <br>
      <form method="post" action="/comedians/<%= comedian.id %>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete">
      </form>
      <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#seeSpecials" aria-expanded="false" aria-controls="seeSpecials">
        See specials
      </button>

    <div class="collapse" id="seeSpecials">
      <div class="card card-body">
        <div class="card-body">
          <b>Stand-up Specials:  <%= comedian.specials.count %></b>

            <% comedian.specials.each do |special| %>
            <p>
              <li> <%= special.name %></li>
              <img src="<%= special.image_source %>" height="60" width="60"> <br>
              <b>Special run time:</b> <%= special.run_time %> minutes
            </p>
            <% end %>



        </div>
      </div>
    </div>


    </div>
    </div>
    </div>

    <% end  %>

      <% end %>
    </div>
