<h1>My Favorite Comedians</h1>

<% @comedians.each do |c| %>
  <ul>
    <li><%= c.name %></li>
    <li>Age: <%= c.age %></li>
    <li>City: <%= c.city %>
     <li>Specials: <% c.specials.each do |special| %>
      <p> Title: <%= special.name %> </p>
      <p> Length: <%= special.run_time %> <p>
      <img src = <% special.thumbnail %>
      <br>
    <% end %>
  </ul>
 <% end %>
