<% @comedians.each do |comedian| %>
  <ul>
    <li><%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>Born in: <%= comedian.city %></li>
    <li><%= comedian.specials.first.name %></li>
    <li><%= comedian.specials.last.name %></li>
  </ul>
<% end %>
