<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Comedians</title>
  </head>
  <body>
    <header>
      <h1>Statistics</h1>
      <nav>
        <ul>
          <li>Average Comedian Age: <%= @comedians.average(:age).round %> years old </li>
          <% @sum = 0 %>
          <% @comedians.each do |comedian| %>
          <% comedian.specials.sum do |special| %>
          <% @sum += special.runtime_mins %>
          <% @sum %>
          <% end %>
          <% end %>
          <% @num = 0 %>
          <% @comedians.each do |comedian| %>
          <% @num += comedian.specials.count %>
          <% end %>
          <% if @num == 0 %>
          <% @average = 0 %>
          <% else %>
          <% @average = @sum / @num %>
          <% end %>
          <li>Average TV Special Run Length: <%= @average %> mins</li>
          <li>Birth Cities: </li>
            <% @comedians.each do |comedian| %>
              <ul> <%= comedian.birthplace %></ul>
          <% end %>
          <li>Special Count: </li>
            <% @comedians.each do |comedian| %>
              <ul> <%= comedian.name %></ul>
              <ul> <%= comedian.specials.count %></ul>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
    <% @comedians.each do |comedian| %>
    <ul>
      <li><%= comedian.name %></li>
      <li>Age: <%= comedian.age %></li>
      <li>Birthplace: <%= comedian.birthplace %></li>
      <li> <img src=<%= comedian.image_url %>></img></li>
      <li>Special Count: <%= comedian.specials.count %></li>
      <li>Specials: <% comedian.specials.each do |special| %> </li>
      <li> <%= special.name %></li>
      <li> <%= special.runtime_mins %></li>
      <li> <%= special.comedian_id %></li>
      <li><img src=<%= special.image_url %></img></li>
      <% end %>
    </ul>
    <% end %>
    </main>
      <section>
        <article></article>
        <article></article>
        <article></article>
      </section>

      <footer></footer>
  </body>
</hmtl>
<!-- Special.average(:runtime_mins).round -->
