<!-- <div id="statistics">
<p>Average age: <%= @average_age %></p>
<p>Average runtime: <%= @average_runtime %> minutes </p>
<p>Comedian Hometowns: <%= @city_list %></p>
<p>Total Specials: <%= @total_specials %></p>
</div>
<% @comedians.each do |comedian| %>
  <div id="comedian_<%=comedian.id%>">
    <ul>
      <li><%= comedian.name %></li>
      <li><%= comedian.age %></li>
      <li><%= comedian.city %></li>
      <div id="comedian_<%=comedian.id%>_specials"
      <li>Number of Specials: <%= Special.count_specials(comedian.id) %><li>
        <% comedian.specials.each do |special| %>
          <li><%= special.title  %><li>
          <li><%= special.run_time %> minutes<li>
          <img src="<%= special.image_url %>" alt=" <%= special.title %>" height="150" width="100">
        <% end %>
      </div>
    </ul>
  </div>
<% end %> -->
<html>
<head>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
<div class="statistics">
  <p>Average age: <br /> <%= @average_age %></p>
  <p>Average runtime: <%= @average_runtime %> minutes </p>
  <p>Comedian Hometowns: <%= @city_list %></p>
  <p>Total Specials: <%= @total_specials %></p>
</div>
<div class="comedian-grid">
  <% @comedians.each do |comedian| %>
    <div class="grid-square" id="comedian_<%=comedian.id%>">
      <div class="comedian-name"><p><%= comedian.name %></div>
      <li>Age: <%= comedian.age %></li>
      <li>Hometown: <%= comedian.city %></li>
      <li>Number of Specials: <%= Special.count_specials(comedian.id) %></li>
      <p><p>
        <% comedian.specials.each do |special| %>
          <li><%= special.title  %></li>
          <div class="thumbnail"><img src="<%= special.image_url %>" alt=" <%= special.title %>"></div>
          <p><%= special.run_time %> minutes</p>
        <% end %>
    </div>
  <% end %>
</div>

</body>
</html>
