


<h2>Great Symphony Composers</h2>

<p>Average Age at Death: <%= Composer.average_age.to_i %></p>
<p>Average Runtime of All Symphonies <%= Symphony.average_runtime.to_i %></p>

<p>Cities of Residence <%= Composer.distinct.pluck(:city).join(" ")  %></p>


   <% @composers.each do |composer| %>
    <ul>
      <li><%= composer.id %></li>

      <li><%= composer.surname %></li>
      <li><%= composer.forename %></li>
      <% composer.symphonies.each do |symph| %>
      <li><%= symph.name %></li>
      <% end %>
      <img src=<%= composer.thumbnail %>  alt=<%= composer.surname %>>

    </ul>
   <% end %>
