<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comedians</title>
    <link rel="stylesheet" type=text/css href="<%= url('/stylesheets/main.css') %>">
  </head>

  <body>
    <header>
      <h1>Laugh Tracks</h1>
    </header>

    <section id='statistics'>
      <h2>Statistics</h2>
      <ul>
        <li>Average Age: <%= @comedians.average_age.round(1) %></li>
        <li>Average Special Length: <%= @specials.average_runtime.round(1) %> min</li>
        <li>Total number of specials: <%= @specials.count %></li>
        <li>Home Cities: <%= @comedians.all_hometowns_list %></li>
      </ul>
    </section>

    <% @comedians.each do |comedian| %>
      <section class='comedian-row'>
        <section class='comedian-info' id='comedian-id-<%= comedian.id %>'>
          <ul>
            <li><%= comedian.name %></li>
            <li><img src="<%= comedian.headshot_link %>" alt="<%= comedian.name %> headshot"></li>
            <li>Age: <%= comedian.age %></li>
            <li>Hometown: <%= comedian.hometown %></li>
            <li>Number of specials: <%= comedian.specials.count %></li>
          </ul>
        </section>

        <section class='comedian-specials-row' id='comedian-id-<%= comedian.id %>-specials'>
          <% comedian.specials.each do |special| %>
            <section class='comedian-special'>
              <ul>
                <li><%= special.name %></li>
                <li><img src="<%= special.thumbnail_link %>" alt="<%= special.name %> poster"></li>
                <li><%= special.runtime %> min</li>
              </ul>
            </section>
          <% end %>
        </section>
      </section>
    <% end %>
  </body>
</html>
