<h1>Comedians</h1>

<img src=>

<% @comedians.each do |comedian| %>
  <h3>Name: <%= comedian.name %></h3>
  <img src=<% comedian.image %> alt="<%= comedian.name %> image" height="42" width="42">
  <p>Age: <%= comedian.age %></p>
  <p>Birthplace: <%= comedian.city %></p>
  <p>Specials:
    <ul> <% comedian.specials.each do |special| %>
    <li><%= special.name %>, <%= special.run_time %> mins</li>
    <% end %></ul>
  <br/>
<% end %>

<p>Add a new comedian <a href="/new">here</a>.</p>
