<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Comedians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
  </head>

<body>
    <h1>Welcome to Laughtracks!</h1>

    <% if @age != nil%>
        <% @comedians = @comedians.select_by_age(@age) %>
    <% end %>

    <div class="stats-box">
        <h3><b>Comedian Statistics:</b></h3>
            <br>
                <li><b>Average Age: </b><%= @comedians.average_age %></li>
                    <br>
                <li><b>Average Runtime Minutes: </b><%= @specials.average_special_runtime %></li>
                    <br>
                <li><b>Comedian Cities: <b><%= @comedians.unique_hometowns %></li>
                    <br>
    </div>

    <div class="comedian-box">
        <% @comedians.each do |comedian| %>
            <div class="comedian-info">
                <h3><b>Comedian Info:</b></h3>
                    <li><b><%= comedian.name %></b></li>
                    <br>
                    <li><b>Age: </b><%= comedian.age %></li>
                    <br>
                    <li><b>Hometown: </b><%= comedian.birthplace %></li>
                    <br>
                <br>
            </div>
            
            <div class="special-box">
                <% comedian.specials.each do |special| %>
                    <li><b>Name: <br></b><%=special.name %><li>
                    <br>
                    <li><b>Runtime Minutes: <br></b><%=special.runtime_mins %><li>
                    <br>
                    <li><img src="<%=special.image_url%>"><li>
                    <br>
                <% end %> 
            </div>
        <% end %>     
    </div>
    
</body>