<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Comedians</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Heebo" rel="stylesheet">

  </head>

  <body>
    <header id="hero">
      <h1 class="fancy">LAUGH TRACKS</h1>
      <h3>From the standup scene to the movie screen. These actors and actresses
        made their debuts on the small stage.</h3>
    </header>
    <nav>
      <li><a href="">Sort</a></li>
      <li><a href="">Filter</a></li>
      <li><a href="">New</a></li>
    </nav>

    <section class="stats">
      <h2>Statistics</h2>

    <section class="stats-flex">
      <figure>
        <h3>Average Runtime:</h3>
        <p class="fancy"><%= @specials.average_runtime %></p>
      </figure>

      <figure>
        <h3>Total TV Specials</h3>
          <% @comedians.each do |comedian| %>
            <%= comedian.name %>: <%= comedian.specials.count %> | 
            <% end %>
      </figure>

      <figure>
        <h3>Average Age:</h3>
        <p class="fancy"><%= @comedians.average_age %></figure></p>
      <figure class="stats-item">
        <h3>Cities:</h3>
        <%= @comedians.all_cities %>
      </figure>

    </section>
      </section>

    <section class="body">
      <% @comedians.each do |comedian| %>
      <div id=<%= comedian.name.downcase.gsub(" ", "-") %>>
        <h2><%= comedian.name %></h2><br />
        Age: <%= comedian.age %><br />
        City: <%= comedian.city %><br />
        Total TV Specials: <%= comedian.specials.count %>

        <section>
        <% comedian.specials.each do |special| %>
          <article><img src="<%= special.thumb %>" width="25">
          Special Name: <%= special.name %><br />
          Runtime: <%= special.runtime %>
          <% end %>
          </article>
        </section>
        <section class="spacer">&nbsp;</section>
      </div>
      <% end %>


    </section>


  </body>

</html>
