<body>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href='/comedians' class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2" focusable="false" aria-hidden="true"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
      <strong>Laugh Tracks</strong>
    </a>
    <a href='comedians/new'><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" <strong>Add New Comedian</strong>
    </button></a>
  </div>
</div>

<!-- Statistics Bar -->
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Statistics</h1>
    <p class="lead text-muted">
      Average Age    |    <%= @comedians.average_age %><br/>
      Average Special Length    |    <%= @specials.average_length %> mins <br/>
      Home Cities    <% @comedians.all_cities.each do |city| %>
        |    <a class="city-link" href='comedians?city=<%=city%>'><%=    city    %></a>
        <% end %><br/>
    </p>
  </div>
</section>
<!-- End Statistics Bar -->

<!-- Comedian Cards -->
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      <% @comedians.each do |comedian| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <div class="card-pic-box">
              <a href="/comedians/<%= comedian.id %>">
              <img id="card-image" class="card-img-top" src="<% if comedian.image %> <%= comedian.image %> <% else %> https://capestylemag.com/wp-content/uploads/2017/11/comedy-3-1068x910.jpg <% end %>" alt="<%= comedian.name %>">
              </a>
            </div>
            <div class="card-body">
              <p class="card-text"><%= comedian.name %><br/>Age: <%= comedian.age %>
              </p>
              <div id="collapse-item" class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modal-id-<%= comedian.id %>">Specials</button>
                  <a href='/comedians/<%= comedian.id %>'><button type="button" class="btn btn-sm btn-outline-secondary">Details</button><a/>
                </div>
                <small class="text-muted">
                  <%= comedian.specials.count %><% if comedian.specials.count == 1 %> special <% else %> specials <% end %>
                </small>
                <!-- End Comedian Cards -->

                <!-- Modal for Specials pop-up -->
                <div class="modal fade" id="modal-id-<%=comedian.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="comedianName"><%= comedian.name %> | Age: <%= comedian.age %> </h5><br/>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p class="modal-specials">Comedy Specials:</p>
                        <% comedian.specials.each do |special| %>
                        <p>
                          <div class="thumbnail-box">
                            <img class="special-thumbnail" src="<%= special.thumbnail %>">
                          </div><br/>
                          <div class="special-info">
                          "<%= special.name %>," <%= special.run_time %> mins
                          </div>
                        </p>
                        <% end %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End modal for Specials pop-up -->


              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

<body>
