<h1> Comedians </h1>
<h2> Statistics </h2>

<h3> Average Tv Special Runtime </h3>
  <p> <%= Special.average_runtime %> <p>
<h3> Total Tv Specials </h3>
  <p> <%= @specials.count %> <p>
<h3> Average Age </h3>
  <p> <%= Comedian.average_age %> <p>
<h3> Cities </h3>
  <% Comedian.uniq_cities.each do |city| %>
    <ul>
       <%= city %>
    </ul>
  <% end %>

<% @comedians.each do |comedian| %>
  <h1><%= comedian.name %></h1>
  <ul>
    <li>City: <%= comedian.city %></li>
    <li>Age: <%= comedian.age %></li>
  </ul>
  <h2> Specials </h2>
  <% comedian.specials.each do |special| %>
    <img src="<%= special.thumbnail %>"><img>
    <li>Title: <%= special.name %> </li>
    <li>Runtime: <%= special.runtime %> </li>
  <% end %>
<% end %>
