<!doctype=HTML>
<html>
  <body>
    <div class="heading">
      <header class="heading-card">
        <img src="http://www.sazerac.com/Images/BourbonBottles.png">
        <h1>Bourbon Guide</h1>
        <div class="sortby">
          <h2>Sort by:</h2>
          <nav class="options">
            <p>Proof</p>
            <p>Expert Score</p>
            <p>Avg Rating</p>
          </nav>
          <br>
        </div>
      </header>
      <div class="heading-card">
        <header>
          <h2>Statistics</h2>
        </header>
        <div class="stats">
          <div class="avg">
            <h3>Avg Proof: <%=  %></h3>
            <br>
            <h3>Avg Expert Score: <%=  %></h3>
            <br>
            <h3>Avg Rating: <%=  %></h3>
            <br>
          </div>
          <div id="locations">
            <h3>Distillery Locations:<h3>
              <% each do %>
            <p><%=  %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bourbons">
      <% each do %>
      <div class="bourbon-card">
        <h3><%=  %></h3>
        <section class="info">
          <img src="<%=  %>">
          <section class="text">
            <h3><%=  %></h3> <!-- distillery -->
            <h3>Frankfort, KY</h3>  <!-- location -->
            <br>
            <h3>Proof: <%=  %></h3>
            <h3>Expert Score: <%=  %></h3>
            <h3>Average Rating: <%=  %></h3>
            <h3>Description:</h3>
            <p><%=  %></p>
          </section>
        </section>
        <section class="awards">
          <% each do %>
          <div class="award-card">
            <img src="<%=  %>">
            <!-- year award-type award -->
            <p><%=  %></p>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
