<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Laugh Tracks</title>
  <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
</head>

<body>
  <header>
    <h1>Statistics</h1>
    <table id="statistics">
      <tr>
        <th>Average Age: </th>
        <th>Unique Cities: </th>
        <th>Average Special Runtime:</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

  </header>

  <% @comedians.each do |comedian| %>
    <div id="comedian">
      <img src= <%= comedian.image %> class="headshot">
      <p>Name: <%= comedian.name %></p>
      <p>Age: <%= comedian.age %></p>
      <p>Hometown: <%= comedian.hometown %></p>
      <section id="specials">
        <h2>Specials</h2>
        <section class="specials">
          <% @specials.each do |special| %>
            <% if special.comedian_id == comedian.id %>
            <div class="special-card">
              Title: <%= special.name %><br />
              <img src=<%= special.image %> alt=comedian.name class="thumbnail">
              Runtime: <%= special.runtime %> minutes<br/>
            </div>
            <% end %>
          <% end %>
        </section>
      </section>
    </div>
  <% end %>

</body>
