<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Laugh Tracks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Comedians
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% @comedians.each do |comedian| %>
            <a class="dropdown-item" href="#"><%= comedian.name %> </a>
          <% end %>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<h1><%= "All Comedians" %><h1>

<div class="container-fluid">
  <div class="row">
    <% @comedians.each do |comedian| %>
    <div class="col-md-4">
      <ul>
        <img class='comedian-images' src="<%=comedian.image_url%>" alt="<%=comedian.name%>">
        <p class ="name"><%= comedian.name %> </p>
        <p class="age">Age: <%= comedian.age %> </p>
        <p class="city">Birthplace: <%= comedian.city %> </p>
      </ul>
    </div>
    <% end %>
  </div>
</div>
