<head>
  <title>Laugh Tracks</title>
  <link href='/main.css' rel="stylesheet" type="text/css" />
</head>

<header>
  <h1>Comedians</h1>
</header>
<nav>
  Statistics
  Average Age: <%= Comedian.average_age %>
  Average Runtime: <%= Special.average_runtime %>
  Cities: <% Comedian.uniq_cities.each do |city| %>
    <%= city %>
  <% end %>
</nav>
<section>
  <% @comedians.each do |comedian| %>
  <article id='comic-<%= comedian.id %>'>
    <h3><%= comedian.name %></h3>
    <ul>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
    </ul>
    <% if comedian.specials.size > 0 %>
    <h4><%= "Specials" %></h4>
    <% end %>
    <ul>
    <% comedian.specials.each do |special| %>
      <li><%= special.name %></li>
      <li>Runtime: <%= special.runtime %></li>
      <img src=<%= special.thumbnail %>>
    <% end %>
    </ul>
  </article>
  <% end %>
</section>
