<div class="container-fluid">
  <section id="statistics">
    <h1>Statistics</h1>
    <div class="row">
      <div class="col-md-6 stats-info">
        <p class="averages"><span class="stats-headers"> Average Age: </span> <%= @comedians.average_age %></p>
        <p class="averages"><span class="stats-headers"> Average Special Runtime: </span> <%= @specials.average_runtime %> Minutes</p>
        <p class="averages"><span class="stats-headers"> Total Specials: </span> <%= @specials.count%> </p>
      </div>
      <div class="col-md-6 stats-cities">
        <article id="stats-cities"> <p class="stats-headers">Comedian Cities: </p> <%= @comedians.get_cities %> </article>
      </div>
    </div>
  </section>
</div>

<section class="container-fluid" id="comedian-section">
  <h1><%= "All Comedians" %></h1>
  <div class="row">
    <% @comedians.each do |comedian| %>
    <section class="col-md-4">
      <ul class="comedian-info">
        <img class='comedian-images' src="<%=comedian.image_url%>" alt="<%=comedian.name%>">
        <p class="name"><%= comedian.name %> </p>
        <p class="age">Age: <%= comedian.age %> </p>
        <p class="city">Birthplace: <%= comedian.city %> </p>
        <p class="specials-count">Number of Specials: <%= comedian.specials.count %></p>
        <article class="specials-section">
          <p class="averages">Specials:</p>
          <% @specials.each do |special| %>
            <% if special.comedian_id == comedian.id %>
            <img class="special-image" src="<%= special.image_url %>" alt"<%=special.name%>"/>
              <p class="special-name">  <%= special.name %> </p>
              <p class="special-runtime">Runtime: <%= special.run_time %> </p>
              </article>
            <% end %>
          <% end %>
          <hr>
      </ul>
    </section>
    <% end %>
  </div>
</section>
