
    <h1 class="comedy-header">Comedians</h1>
    <section id="statistics" >
      <h3>Statistics</h3>
      <section class="stats-flex">
        <article id="average_runtime" class="stats">
          <h5>Average TV Special Runtime</h5>
          <p><%= @specials.average_runtime %> minutes</p>
        </article>
        <article id="total-specials" class="stats">
          <h5>Total TV Specials</h5>
          <p><%= @specials.count %></p>
        </article>
        <article id="average-age" class="stats">
          <h5>Average Age</h5>
          <p><%= @comedians.average_age %> years old</p>
        </article>
        <article id="unique-hometowns" class="stats">
          <h5>Hometowns:</h5>
          <p><%= @comedians.unique_hometowns.join(" ") %></p>
        </article>
      </section>
    </section>
      <section class="comedians-container">
        <article class="flex-comedians">
          <% @comedians.each do |comedian| %>
            <ul id="comedian-<%= comedian.id %>" class="comedian-box ui card eight wide column">
              <h4><%= comedian.name %></h4>
              <li>Age: <%= comedian.age %></li>
              <li>Hometown: <%= comedian.hometown %></li><br/>
              <p>Number of Specials: <%= comedian.specials.count %></p>
              <section class="specials-list">
                <% comedian.specials.each do |special| %>
                  <article class="single-special">
                    <img src="<%= special.image_file %>" alt="<%= special.title %>" id="comedian-<%= special.comedian_id %>-img" class="image-special"/>
                      <ul id="special-<%= special.id %>" class="special-info">
                        <li class="special-li"><%= special.title %></li>
                        <li class="special-li"><%= special.runtime %> min.</li>
                      </ul>
                  </article>
                <% end %>
              </section>
            </ul>
          <% end %>
        </article>
      </section>
  <
