    <header>
      <h1>Laugh Tracks</h1>
      <img src="images/laugh_1.jpeg" alt="Main Logo"/>
    </header>

    <section id="statistics">
      <h1>Statistics</h1>
      <h3>Average Comedian Age:<%=  @comedians.average_age.round %></h3>
      <h3>Total Specials: <%= @specials.count %></h3>
      <h3>Average Run Time: <%= @specials.average_run_time.round %></h3>
      <h4>Hometowns <%= @comedians.hometowns %></h4>
    </section>

    <section id="profiles">
      <% @comedians.each do |comedian| %>
      <div id=<%= "comedian-#{comedian.id}" %>>
        <img><%= comedian.photo %></img>
      <h3><%= comedian.name %></h3>
      <li><%= comedian.age %></li>
      <li><%= comedian.home_town %></li><br/>
        <% comedian.specials.each do |special| %>
          <img><%= special.thumbnail %></img>
          <li>Name: <%= special.name %></li>
          <li>Run Time: <%= special.run_time %></li><br/>
          <% end %>
      </div>
      <% end %>
    </section>
