<h3>The Comedians</h3>
<h4>Statistics</h4>
<main>
  <section class="comedian-stats">
    <div class="specials-count">
      <p class='label'>Comedians and number of specials:</p>
      <% @comedians.each do |c| %>
       <p><%= c.name %>: <%= c.specials.count %></p>
      <% end %>
    </div>
    <div class="hometowns">
      <p class='label'>Comedians Hometowns:</p>
      <% @uniq_hometowns.each do |town| %>
        <p><%= town %></p>
      <% end%>
    </div>
    <div class="averages">
      <p><span class='label'>Averages:</span></p>
      <p><span class='label'>Special Run Time:</span> <%= @average_length.round(1) %></p>
      <p><span class='label'>Comedian Age:</span> <%= @average_age.round(1) %></p>
    </div>
  </section>

  <section class="comedians">
    <% @comedians.each do |c| %>
      <section class="comedian">
        <div class='comedian-info' id="comedian-info-<%= c.id %>">
          <a href='/comedians/<%= c.id%>' id='show-c-<%= c.id %>' class='comedian-name'><span class='label'>Comedian:</span> <%= c.name %></a>
          <p><span class='label'>Age:</span> <%= c.age %></p>
          <p><span class='label'>Hometown:</span> <%= c.city %></p>
          <p><span class='label'>Number of specials:</span> <%= c.specials.count %></p>
        </div>
        <div class='specials' id="specials-for-<%= c.id %>">
          <% c.specials.each do |s| %>
            <div class='special' id="special-<%= s.id %>">
              <p><span class='label'>Special Name:</span> <%= s.name %></p>
              <p><span class='label'>Length(minutes):</span> <%= s.run_time_minutes %></p>
              <img class='comedian-img' src="<%= s.image_url %>" alt="<%= s.name %>">
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  </section>
</main>
