<h1>Laugh Tracks</h1>
<h2>Comedians</h2>
<% @comedians.each do |comedian| %>
<article id='comic-<%= comedian.id %>'>
  <h3><%= comedian.name %></h3>
  <ul>
    <li>Age: <%= comedian.age %></li>
    <li>City: <%= comedian.city %></li>
  </ul>
  <h4>Specials</h4>
  <ul>
  <% comedian.specials.each do |special| %>
    <li><%= special.name %></li>
  <% end %>
  </ul>
<% end %>
