<% @comedians.each do |comedian| %>
  <ul id="comedian-<%= comedian.id %>">
    <li>Name: <%= comedian.name %></li>
    <li>Hometown: <%= comedian.hometown %></li>
    <li>Age: <%= comedian.age %></li>
    <hX>Specials:</hX>
      <% comedian.specials.each do |special| %>
      <li><%= special.name %>, <%= special.run_time %> minutes</li>
      <% end %>
  </ul><br>
<% end %>
