<h3>The Comedians</h3>
<section class="comedian-stats">
  <div class="specials-count">
    <% @comedians.each do |c| %>
     <p><%= c.name %>: <%= c.specials.count %></p>
    <% end %>
  </div>
  <div class="hometowns">
    <p>Comedians Hometowns:</p>
    <% @uniq_hometowns.each do |town| %>
      <p><%= town %></p>
    <% end%>
  </div>
  <div class="averages">
    <p>Averages</p>
    <p>Special Run Time: <%= @average_length.round(1) %></p>
    <p>Comedian Age: <%= @average_age.round(1) %></p>
  </div>
</section>

<section class="comedians">
  <% @comedians.each do |c| %>
    <section class="comedian">
      <div class="comedian-info">
        <p class='comedian-name'>Comedian: <%= c.name %></p>
        <p>Age: <%= c.age %></p>
        <p>Hometown: <%= c.city %></p>
        <p>Number of specials: <%= c.specials.count %></p>
      </div>
      <div class="specials">
        <% c.specials.each do |s| %>
          <div class="special">
            <p>Special Name: <%= s.name %></p>
            <p>Length(minutes): <%= s.run_time_minutes %></p>
            <img class='comedian-img' src="<%= s.image_url %>" alt="<%= s.name %>">
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
</section>
