<!DOCTYPE=html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="stylesheets/main.css" title="css" type="text/css">
  </head>
  <body>
    <h1>Comedians</h1>
    <section id="statistics">
      <h3>Statistics</h3>
      <section id="average_runtime">
        <h5>Average TV Special Runtime</h5>
        <p><%= @specials.average_runtime %> minutes</p>
      </section>
      <section id="total-specials">
        <h5>Total TV Specials</h5>
        <p><%= @specials.count %></p>
      </section>
      <section id="average_age">
        <h5>Average Age</h5>
        <p><%= @comedians.average_age %> years old</p>
      </section>
      <section id="unique-hometowns">
        <h5>Hometowns:</h5>
        <p><%= @comedians.unique_hometowns.join(" ") %></p>
      </section>

    </section>
    <% @comedians.each do |comedian| %>
      <ul id="comedian-<%= comedian.id %>" class="comedian-box">
        <li>Name: <%= comedian.name %></li>
        <li>Age: <%= comedian.age %></li>
        <li>Hometown: <%= comedian.hometown %></li>
        <hX>Specials:</hX><br/>
        <p>Number of Specials: <%= comedian.specials.count %></p>
        <% comedian.specials.each do |special| %>
        <img src="<%= special.image_file %>" alt="<%= special.title %>" class="image-special"/>
          <ul id="special-<%= special.id %>" class="special-info">
            <li>Title: <%= special.title %></li>
            <li>Runtime: <%= special.runtime %> min.</li>
          </ul>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
