<div class="container-fluid">
  <h1 id="comedian-name"> <%=@comedian.name%> </h1>
  <div class="row">
    <section class="col-md-12 image-section">
      <img src="<%=@comedian.image_url%>" alt="<%=@comedian.name%>">
    </section>
      <h1> <%= @comedian.age%> </h1>
      <h1> <%= @comedian.city%> </h1>
  </div>

</div>
