<head>
  <title>Comedians</title>
  </head>
  <body>
    <header>
    <h1>Welcome to Comedians!!</h1>
    </header>
    <nav>
      <img src="/public/laughing-monkey-emoji.png" alt="laughing monkey emoji" />
      <h2><b>Statistics</b></h2>
      <p>Average Age: <%= Comedian.average_age %></p>
        <p>Average TV Special Run Time: <%= Special.run_time %></p>
        <p>Cities Comedians Were Born In: <%= Comedian.cities %></p>
    </nav>
    <div>
      <% @comedians.each do |comedian| %>
        <section>
        <ul>
          <li><b>Name:</b> <%= comedian.name %></li>
          <li><b>Age:</b> <%= comedian.age %></li>
          <li><b>City:</b> <%= comedian.city %></li>
          <% @specials.each do |special| %>
          <% if special.comedian_id == comedian.id %>
          <li><b>Special Name:</b><%= special.special_name %></li>
          <li><b>Run Time</b><%= special.length %></li>
          <li><img src=<%= special.image_location %> /></li>
          <% end %>
          <% end %>
        </ul>
        <% end %>
        </section>
    </div>

  </body>
